body{
    background-color: black;
}
h1{
    text-align: center;
    font-family:'Roboto', sans-serif ;
    color:white;
    font-size: 30px;
}

p.p1{ /* mision*/
    text-align: center;
    font-family:'Roboto', sans-serif ;
    font-style: italic;
    color:rgb(255, 255, 255) ;
}
p.p2{ /*texto mision*/
    text-align: center;
    font-family:'Roboto', sans-serif ;
    color: rgb(255, 255, 255);
}
p.p3{/*vision*/
    text-align: center;
    font-family:'Roboto', sans-serif ;
    color: rgb(255, 255, 255);
}
p.p4{/*texto vision*/
    text-align: center;
    font-family:'Roboto', sans-serif ;
    color:rgb(255, 255, 255);
}
ul.section-nav{
    display: flex;  
    justify-content: flex-end;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    width: 100%;
    
}
button.bntIni{
    color: black;
    background-color: white;
    padding: 10px;
}
button.btnRegInis{
    color: black;
    background-color: white;
    padding:10px;
}
button.btnContacto{
    color: black;
    background-color: white;
    padding:10px;
}

.login-container {
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 300px;
  text-align: center;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

label {
  display: center;
  margin-top: 10px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button1 {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color:green;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  background-color: #1a1a1a;
  color: white;
  font-family: 'Roboto', sans-serif;
}

th, td {
  border: 1px solid #444;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #333;
  color: #00ffcc;
}

tr:hover {
  background-color: #2a2a2a;
}

